body {
    background-color: cornflowerblue;
    color: white;
    font-size: 18px;
}
#color{
    color: coral;
}
#size{
    font-size: 2rem;
}
#weight{
    font-weight: 900;
}
#family{
    font-family: Caveat,cursive;
    font-weight: 400;
}
#align{
    text-align: right;
}
html{
    font-size: 30px;
}